{% extends "layout.html" %}
{% block title %}
Home
{% endblock%}
{% block content %}

<!-- TITLE -->
<section id="title" class="bg-dark text-white py-5">
    <div class="container">
        <h1>Alex Cipollone</h1>
        <h2>Musician. Technology Professional.</h2>
    </div>
</section>

<!-- COOL IMAGE-->
<section id="cool">
    <div class="container">
    </div>
</section>
{% endblock %}

<!-- https://stackoverflow.com/questions/18600031/changing-the-active-class-of-a-link-with-the-twitter-bootstrap-css-in-python-fla -->