{% extends "layout.html" %}
{% block title %}
Technology
{% endblock%}
{% block content %}
<!-- BODY -->
<section class="full-height bg-dark" id="tech-body">
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div id="about-tech" class="col-md-12">
        <h2>About Me</h2>
        <p>I've been involved with computers as a career since 2018. I have extensive experience as a Help Desk Technician, with strong theoretical knowlege in Cyber Security, Web Development, Systems Analysis & Design, and Computer Networks</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card h-100">
          <h1 class=" text-center card-title">Education</h1>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Master of Science in Information Systems, Hofstra University, May 2021</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Bachelor of Science in Administrative Studies, St. John's University, May 2018</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Chaminade High School, June 2014</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card h-100">
          <h1 class=" text-center card-title">Certifications</h1>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> JavaScript Algorithms and Data Structures, freeCodeCamp, April 2022</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Responsive Web Design, freeCodeCamp, January 2022</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Cisco CCNA, July 2021</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> CompTIA Security+, April 2020</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> CompTIA Network+, February 2020</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> CompTIA A+, November 2019</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card h-100">
          <h1 class=" text-center card-title">Skills</h1>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-laptop-code"><strong> Programming & Frameworks: </strong>HTML, CSS, JavaScript, Bootstrap, nodeJS, Python, Django, Flask, Java</i>
              </li>
              <li class="list-group-item">
                <i class="fas fa-laptop-code"><strong> Operating Systems: </strong>Windows 10, Mac OS X, Linux, Cisco iOS</i>
                </li>
              <li class="list-group-item">
                <i class="fas fa-laptop-code"><strong> Software: </strong>ServiceNow, JotForm, Joomla!, Drupal, Continuum, IT Glue, AutoTask, ZenDesk, Microsoft 365, Google Apps</i>
              </li>
              <li class="list-group-item">
                <i class="fas fa-laptop-code"><strong> Leadership: </strong> Project Management, Public Speaking</i>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.linkedin.com/in/alexcipollone96/"></a>
      </div>
      <div class="col-md-6">
        <a href="https://github.com/acipo1096"></a>
      </div>
    </div>

    <!-- 3 Cards Side By Side -->
      
    <!-- <div class="row">
      <div class="col-md-4">
        <div class="card h-100">
          <h1 class=" text-center card-title">Education</h1>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Master of Science in Information Systems, Hofstra University, May 2021</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Bachelor of Science in Administrative Studies, St. John's University, May 2018</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Chaminade High School, June 2014</i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <h1 class=" text-center card-title">Certifications</h1>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> Cisco CCNA, July 2021</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> CompTIA Security+, April 2020</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> CompTIA Network+, February 2020</i>
            </li>
            <li class="list-group-item">
              <i class="fas fa-laptop-code"> CompTIA A+, November 2019</i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <h1 class=" text-center card-title">Skills</h1>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-laptop-code"><strong> Programming: </strong>HTML, CSS, JavaScript, Bootstrap, Python</i>
              </li>
              <li class="list-group-item">
                <i class="fas fa-laptop-code"><strong> Operating Systems: </strong>Windows 10, Windows Server, Mac OS X, Linux, iOS</i>
                </li>
              <li class="list-group-item">
                <i class="fas fa-laptop-code"><strong> Software: </strong> Continuum, IT Glue, AutoTask, ZenDesk, Microsoft 365, Google Apps</i>
              </li>
              <li class="list-group-item">
                <i class="fas fa-laptop-code"><strong> Leadership: </strong> Project Management, Public Speaking</i>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>

</section>
{% endblock %}
    